html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;

    padding-top: 50px;

    background-color: rgb(92, 95, 95);
}


.header__list {
    padding: 15px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 15px;
    border: 2px black solid;
}

.list__li {
    list-style-type: none;
    padding: 9px 15px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border: 2px rgb(31, 29, 29) solid;
    margin-top: 3px;
    position: relative;
    text-align: left;
    min-height: 40px;
    
}

.deleteItem {
    background: none;
    padding: 4px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    border: 2px black solid;
    border-radius: 10px;
    cursor: pointer;

    right: 30px;
}

.crossOut {
    background: none;
    padding: 4px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    border: 2px black solid;
    border-radius: 10px;
    cursor: pointer;

    right: 110px;
}


.formSection {
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border: 2px black solid;
    margin-top: 3px;
    padding: 5px;
}

.input__list {
    margin: 10px;
    width: 300px;
    padding: 15px;
    border: 2px black solid;
    border-radius: 10px;  
}

.button__list {
    padding: 15px;
    margin: 10px;
    border: 2px black solid;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
        background-color: aquamarine;
    }
}


.crosOutLine {
    display: block;
    height: 2px;
    background-color:black;
    position: absolute;
    top: 19px;
    opacity: 0;

}