html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;

    padding-top: 50px;

    background-color: rgb(92, 95, 95);
}


.header__list {
    padding: 15px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 15px;
    border: 2px black solid;
}

.list__li {
    list-style-type: none;
    padding: 4px 15px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border: 2px rgb(31, 29, 29) solid;
    margin-top: 3px;
    position: relative;
    text-align: left;
    height: 30px;
}

.deleteItem {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    position: absolute;
    right: 50px;
}

.crossOut {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    position: absolute;
    right: 70px;
}


.formSection {
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border: 2px black solid;
    margin-top: 3px;
    padding: 5px;
}

.input__list {
    padding: 4px;
    border: 2px black solid;
    border-radius: 10px
}

.button__list {
    padding: 4px;
    border: 2px black solid;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        background-color: aquamarine;
    }
}

.lineThrough {
    text-decoration: 2px line-through;
    text-decoration-color: red;
    /* text-decoration-style: wavy; */

}